.page_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


.page_head{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(-225deg, #f77f75 0%, #f0347e 100%);
    height: 6em;
}


.page_head_title{
    color: #fff;
    font-size: 1.5em;
    margin-left: .5em;
}


.house_chat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .4em 1em;
}


.circle{
    border-radius: 50%;
    width: 4em;
    height: 4em;
    background: linear-gradient(-225deg, #f77f75 0%, #f0347e 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.house{
    width: 3em;
    min-width: 3em;
    height: 3em;
}

.house_chat_line{
    width: 75%;
    height: 100%;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}


.vertical-middle{
    background: linear-gradient(-225deg, #f77f75 0%, #f0347e 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;
    border-radius: 3em;
}

.house_chat_line_text{
    color: #fff3cd;
    font-size: 1.3em;
    margin-left: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.house_chat_line_counter{
    font-size: 1.4em;
    color: #fff3cd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: .2em;
}


.interlocutors_list{
    height: 100%;
    width: 100%;
    margin: 1.4em 1em;
}


.interlocutor_card{
    margin-top: .4em;
    display: flex;
    flex-direction: row;
    cursor: pointer
}

.ns{
    color: #fff;
    font-size: 2em;
}


.interlocutor_info{
    margin-left: .4em;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.interlocutor{
    font-size: 1.4em;
}

.last_message{
    font-size: 1.3em;
}

.last_message_time{
    height: 100%;
    position: absolute;
    right: .3em;
}


.bottom_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.logo_grey{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2em;
}


.input_field {
    width: 100%;
    border: 0px solid rgba(0,0,0,.4);
    font-size: 1.2em;
    padding: .5em 1em;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding-right: 2.9em;
    z-index: 99999;
    position: relative;
}

.field{
    width:100%;
    position: relative;
}

.btn_send{
    width: 2.1em;
    position: absolute;
    top: .4em;
    right:.3em;
    z-index: 99999;
}

.messages{
    margin-left: .5em;
    margin-right: .5em;
    width: 100%;
    height: 100%
}

.message_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: .4em;
}

.message {
    width: 80%;
    min-height: 2em;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px 21px;
    font-size: 1.2em;
    margin: 2px 0px;
    background: #fff;
}

.message .name {
    font-weight: bolder;
}
.message .date {
    font-size: 10px;
    float: right;
}

.right{
    justify-content: flex-end;
}

.grey_bg{
    border:none;
    background-color: rgba(179, 104, 173, 0.4);
}