/*
 * Globals
 */
@font-face {
    font-family: 'Arkhip';
    src: url('../fonts/arkhip/Arkhip.ttf.eot') format('eot'),
    url('../fonts/arkhip/Arkhip.ttf.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Thin.eot');
    src: local('Geometria Thin'), local('Geometria-Thin'),
    url('../fonts/Geometria-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-Thin.woff') format('woff'),
    url('../fonts/Geometria-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-MediumItalic.eot');
    src: local('Geometria MediumItalic'), local('Geometria-MediumItalic'),
    url('../fonts/Geometria-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-MediumItalic.woff') format('woff'),
    url('../fonts/Geometria-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Italic.eot');
    src: local('Geometria Italic'), local('Geometria-Italic'),
    url('../fonts/Geometria-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-Italic.woff') format('woff'),
    url('../fonts/Geometria-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Heavy.eot');
    src: local('Geometria Heavy'), local('Geometria-Heavy'),
    url('../fonts/Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-Heavy.woff') format('woff'),
    url('../fonts/Geometria-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraBoldItalic.eot');
    src: local('Geometria ExtraBoldItalic'), local('Geometria-ExtraBoldItalic'),
    url('../fonts/Geometria-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Geometria-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Medium.eot');
    src: local('Geometria Medium'), local('Geometria-Medium'),
    url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-Medium.woff') format('woff'),
    url('../fonts/Geometria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-BoldItalic.eot');
    src: local('Geometria BoldItalic'), local('Geometria-BoldItalic'),
    url('../fonts/Geometria-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-BoldItalic.woff') format('woff'),
    url('../fonts/Geometria-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-LightItalic.eot');
    src: local('Geometria LightItalic'), local('Geometria-LightItalic'),
    url('../fonts/Geometria-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-LightItalic.woff') format('woff'),
    url('../fonts/Geometria-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-HeavyItalic.eot');
    src: local('Geometria HeavyItalic'), local('Geometria-HeavyItalic'),
    url('../fonts/Geometria-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-HeavyItalic.woff') format('woff'),
    url('../fonts/Geometria-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria.eot');
    src: local('Geometria'),
    url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria.woff') format('woff'),
    url('../fonts/Geometria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold.eot');
    src: local('Geometria Bold'), local('Geometria-Bold'),
    url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-Bold.woff') format('woff'),
    url('../fonts/Geometria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraBold.eot');
    src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
    url('../fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-ExtraBold.woff') format('woff'),
    url('../fonts/Geometria-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ThinItalic.eot');
    src: local('Geometria ThinItalic'), local('Geometria-ThinItalic'),
    url('../fonts/Geometria-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-ThinItalic.woff') format('woff'),
    url('../fonts/Geometria-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraLightItalic.eot');
    src: local('Geometria ExtraLightItalic'), local('Geometria-ExtraLightItalic'),
    url('../fonts/Geometria-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-ExtraLightItalic.woff') format('woff'),
    url('../fonts/Geometria-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Light.eot');
    src: local('Geometria Light'), local('Geometria-Light'),
    url('../fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-Light.woff') format('woff'),
    url('../fonts/Geometria-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraLight.eot');
    src: local('Geometria ExtraLight'), local('Geometria-ExtraLight'),
    url('../fonts/Geometria-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geometria-ExtraLight.woff') format('woff'),
    url('../fonts/Geometria-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}







/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    color: #000;
    background: linear-gradient(45deg, rgba(255, 192, 203, 0.36),#fff);
}
.abs100 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 999;
}
.abs100:hover {
    cursor: pointer;
}
.button-pink, button.button-pink {
    background: rgb(247,127,117);
    background: linear-gradient(142deg, rgba(247,127,117,1) 0%, rgba(239,48,126,1) 84%);
    text-align: center;
    color: #fff;
    height: 60px;
    line-height: 60px;
    vertical-align: middle!important;
    cursor: pointer;
    font-family: 'Arkhip';
    font-size: 24px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 4px 8px 1px rgba(170, 170, 170, 0.75);
}



.cover-container {
    max-width: 42em;
}


/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}



.preloader{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    flex-direction: column;
    z-index: 99999;
}

.preloader_logo{
    width: 80vw;
}


.pink_button{
    background: linear-gradient(45deg, #ff8075,#ff8075, #ff2c81,#ff2c81);
    border: none;
    color: #fff;
    padding: 8px 14px;
    font-size: 1.1em;
}


.active_login_method{
    border-bottom: 4px solid #005faf;
    color: black;
}

.unactive_login_method{
    color: #005faf;
}

.login_input{
    margin-top: 12px;
    margin-bottom: 4px;
    padding: 4px 10px;
    border: 1px solid rgba(0,0,0,.4)
}

.enter_btn{
    width: 82%;
    margin-bottom: 12px;
    background-color: #005faf;
}


.selector_icon{
    width: 1.1em;
}


.input_underlined{
    border: none;
    outline: none;
    border-bottom: 1.5px solid rgba(0,0,0,.3);
    justify-self: center;
    background-color: rgba(0,0,0,0);
    text-align: center;
    font-size: 1.5em;
    padding-bottom: .5em;
    padding-top: .5em;
}

.btn_rounded{
    border: none;
    border-radius: 2.5em;
    background: linear-gradient(45deg, #ff8075,#ff8075, #ff2c81,#ff2c81);
    padding: 1em 1.5em;
    color: #fff;
    font-size: 1.5em;
    font-family: 'Arkhip';
    font-weight: lighter;
}


.head_line{
    background-color: #157dc7;
    background-image: linear-gradient(-225deg, #f77f75 0%, #f0347e 100%);
    height: 5em;
}


.rounded_square{
    background-color: #fff;
    border-radius: 1.2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1.7em 0;
    padding: 1em 2em;
}


.general_address{
    border-top: 1px solid rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(0,0,0,.3);
    font-size: 1.2em;
    padding: 1em 0px;
    margin: .1em 0px;
}

.troble_report{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    font-size: 1.32em;
    color: #f78279
}

.btn_apartment{
    border: none;
    border-radius: 2.2em;
    background-color: #157dc7;
    background-image: linear-gradient(-225deg, #f77f75 0%, #f0347e 100%);
    padding: .4em .4em;
    color: #fff;
    font-size: 1.3em;
}
