.active_login_method{
    border-bottom: 4px solid #005faf;
    color: black;
}

.unactive_login_method{
    color: #005faf;
}

.login_input{
    width: 82%;
    margin-top: 12px;
    margin-bottom: 4px;
    padding: 4px 10px;
    border: 1px solid rgba(0,0,0,.4)
}

.enter_btn{
    width: 82%;
    margin-bottom: 12px;
    background-color: #005faf;
}

/*.preloader{*/
/*    background: linear-gradient(45deg, rgba(255, 192, 203, 0.36),#fff);*/
/*}*/

