/*r = 8*/
.outer-circle {
    width: 16em;
    height: 16em;
    border-radius: 50%;
    background-color: #157dc7;
    background: linear-gradient(-225deg, #f77f75 0%, #f0347e 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

/* r = 5*/
.circle {
    width: 5.1em;
    height: 5.1em;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-circle{
    z-index: 99;
    font-size: 2em;
    color: #f77f75;
}

.inner-circle:hover{
    background-color: rgba(0,0,0,.2);
}


.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plant {
    background-color: #fff;
    width: 16em;
    height: .2em;
    position: absolute;
    top: 7.9em;
}

.angle1 {
    transform: rotate(60deg);
    height: .26em!important;
}

.angle2 {
    transform: rotate(-60deg);
    height: .26em!important;
}

.circle_icon{
    width: 3em;
    position: absolute;
    margin-top: 1.5em;
    color: #fff;
    cursor:pointer;
}

.circle_icon1{
    transform: translateX(4.5em) translateY(2.7em);
    width: 2.8em!important;
}

.circle_icon2{
    transform: translateX(-4.5em) translateY(2.7em) ;
}

.circle_icon3{
    transform: translateX(4.5em) translateY(7.8em);
}

.circle_icon4{
    transform: translateX(-4.5em) translateY(7.8em);
}

.circle_icon5{
    transform: translateY(10.4em);
}

