{% extends "admin/layout/layout.twig" %}

{% block title %}Навигация{% endblock %}

{% block links %}
    <link rel="stylesheet" href="/assets/admin/css/navigation/items/item-list.css">
{% endblock %}

{% block page_title %}Навигация{% endblock %}

{% block icons %}
    <a href="{{ path_for('navigation.showAdminNavigationItemAdd', {'id': menu.id}) }}" class="btn btn-link btn-float text-default">
        <i class="icon-file-plus text-primary" style="font-size: 1.4rem"></i>
        <span>Создать пункт</span>
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
             <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dd" id="nestable">
                                <ol class="dd-list">
                                    {% for index,item in items %}
                                        <li class="dd-item dd3-item" data-id="{{ item.id }}">
                                            <div class="dd-content dd3-content">
                                                <a class=""
                                                   href="{{ path_for('navigation.showAdminNavigationItemEdit', {'id': menu.id, 'item_id': item.id}) }}">{{ item.title }}</a>
                                            </div>
                                            <div class="dd-handle dd3-handle "></div>
                                            {% if item.children %}
                                                <ol class="dd-list">
                                                    {% for sub_item in item.children %}
                                                        {% if sub_item.title %}
                                                            <li class="dd-item dd3-item" data-id="{{ sub_item.id }}">
                                                                <div class="dd3-content dd3-content ">
                                                                    <a href="{{ path_for('navigation.showAdminNavigationItemEdit', {'id': menu.id, 'item_id': sub_item.id}) }}">{{ sub_item.title }}</a>
                                                                </div>
                                                                <div class="dd-handle dd3-handle"></div>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ol>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px">
                        <div class="col-md-3">
                            <button id="save_items" onclick="window.location.reload()" class="btn btn-success">Сохранить
                            </button>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>

    <!-- /#page-content-wrapper -->
{% endblock %}

{% block script %}

    <script type="text/javascript">


        $('.fa-edit').click(function () {
            console.log(123);
        });

        $(document).on('click', '.dd-handle', function () {
            var id = $(this).closest('tr.role-row').data('role-id');
            $.ajax({
                url: '/api/roles/get_role',
                type: 'POST',
                data: {id: id},
                success: function (resp) {
                    var role = JSON.parse(resp);
                    var permissions = JSON.parse(role.permissions);

                    $('#form-role').find('button[type="submit"]').html('Сохранить');
                    $('input[name="name"]').val(role.name);
                    $('input[name="slug"]').val(role.slug);
                    $('input[name="id"]').val(role.id);

                    if (permissions) {
                        $.each($('.permission input[type="checkbox"]'), function () {
                            var name = $(this).attr('name');

                            if (typeof permissions[name] != undefined && permissions[name]) {
                                $(this).prop('checked', true);
                            } else {
                                $(this).prop('checked', false);
                            }
                        });
                    } else {
                        $('.permission input[type="checkbox"]').prop('checked', false);
                    }
                },
                error: function (resp) {
                    console.log(resp.responseText);
                }
            })
        });

        $(function () {
            $('#add-menu-item').click(function () {
                $('#form-role')[0].reset();
                $('#form-role').find('button[type="submit"]').html('Добавить');
                $('#settings').show();
                $('#form-role').find('input[name="id"]').val(null);
            });
        });

        $(document).ready(function () {

            var updateOutput = function (e) {
                var list = e.length ? e : $(e.target),
                    output = list.data('output');
                if (window.JSON) {
                    output.val(window.JSON.stringify(list.nestable('serialize')));
                } else {
                    output.val('JSON browser support required for this demo.');
                }
            };

            $('#nestable').nestable({
                maxDepth: 2,
                group: 1,
                collapseBtnHTML: '',
                expandBtnHTML: ''
            })
                .on('change', updateOutput);

            // output initial serialised data
            updateOutput($('#nestable').data('output', $('#nestable-output')));

            $('#save_items').click(function () {

                var json = $('.dd').nestable('serialize');
                $.ajax({
                    url: '{{ path_for('navigation.saveNavigationItems') }}',
                    method: 'post',
                    data: {'items': json},
                    success: function (resp) {
                        resp = JSON.parse(resp);
                        console.log(resp);
                    }
                })
            });
        });
    </script>
{% endblock %}