{% extends 'public/layout.twig' %}

{% block link %}
    <link rel="stylesheet" href="/assets/public/css/chat.css">
{% endblock %}

{% block content %}
<div class="page_wrapper">

    <div class="page_head">
        <div class="page_head_title">ЧАТЫ</div>
    </div>

    <div class="house_chat" onclick="open_polylog()">
        <div class="circle">
            <div class="middle">
                <img src="/assets/public/img/1.png" class="house">
            </div>
        </div>
        <div class="house_chat_line">
            <div class="vertical-middle">
                <div class="house_chat_line_text">Общий чат дома</div>
                <div class="house_chat_line_counter">14</div>
            </div>
        </div>
    </div>

    <div class="interlocutors_list">
       {% for interlocutor in interlocutors %}
        <div class="interlocutor_card" onclick="open_dialog({{ interlocutor.id }})">
            <div class="circle">
                <div class="ns">{{interlocutor.first_name[:1]}}{{interlocutor.last_name[:1]}}</div>
            </div>
            <div class="interlocutor_info">
                <div class="interlocutor">{{interlocutor.first_name}} {{interlocutor.last_name}}</div>
                <div class="last_message">{{ interlocutor.last_message.text }}</div>
            </div>
            <div class="last_message_time">{{ interlocutor.last_message.created_at|date('H:i') }}</div>
        </div>
        {% endfor %}
    </div>

    <div class="bottom_logo">
        <img class="logo_grey" src="/assets/public/img/logo_grey.png" alt="">
    </div>

</div>
{% endblock %}

{% block script %}
    <script>
        function open_dialog(id) {
            window.location.href = '{{ path_for("chat.showDialog", {user_id:''}) }}'+id;
        }

        function open_polylog() {
            window.location.href = '{{ path_for("chat.showPolylog") }}';
        }
    </script>
{% endblock %}