{% extends 'public/layout.twig' %}

{% block link %}
    <link rel="stylesheet" href="/assets/public/css/chat.css">
{% endblock %}

{% block content %}
    <div id="vvm" class="page_wrapper">
        <div class="page_head">
            <div class="page_head_title">ОБЩЕДОМОВОЙ ЧАТ</div>
        </div>


        <div class="messages" id="mess_list">
            <div v-for="message in messages" class="message_container" :class="right(message)">
                <div class="message" :class="grey_bg(message)">
                    ${message.text}
                </div>
            </div>
        </div>

        <div class="bottom_logo">
            <div class="field">
                <input type="text" id="input_el" class="input_field">
                <img @click="sendMessage" class="btn_send" src="/assets/public/img/111.png" alt="">
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        var vm = new Vue({
            el: "#vvm",
            delimiters: ['${', '}'],
            data:{
                messages: {{ messages|raw }},
                user: {{ user|raw }},
                chat_id: {{ chat_id }},
                uri: '{{ websoket_uri }}'
            },
            methods:{
                right(message){
                    if(+message.user_id === +this.user.id){
                        return 'right';
                    }
                },
                grey_bg(message){
                    if(+message.user_id === +this.user.id){
                        return 'grey_bg';
                    }
                },
                addMsg(id, senderId, chatId, text) {
                    this.messages.push({
                        id: id,
                        user_id: senderId,
                        chat_id: chatId,
                        text: text,
                        // created_at: this.getDate()
                    });
                    this.scrollDown();
                },
                scrollDown() {
                    this.$nextTick(function () {
                        var mess_list = document.getElementById('mess_list');
                        mess_list.scrollTo(0, mess_list.scrollHeight);
                    });
                },
                sendMessage(){
                    var input_el = document.getElementById('input_el');

                    $.ajax({
                        url: '/polylog/' + this.chat_id,
                        method: 'post',
                        data: {'text': input_el.value}
                    }).then((id) => {
                        resp = JSON.parse(id);
                        this.conn.send(`msg:${this.chat_id}:${input_el.value}:${id}`);
                        this.addMsg(id, this.user.id,this.chat_id, input_el.value);
                        input_el.value = '';
                    });
                }
            },
            created() {
                let conn = new WebSocket(this.uri);

                conn.onmessage = e => {
                    let data = e.data.split(':');
                    switch (data[0]) {
                        case 'msg':
                            if (Number(data[2]) === Number(this.user.id)) {
                                console.log(data);
                                this.addMsg(data[4], data[1], data[2], data[3])
                            }
                            break;
                    }
                };

                conn.onopen = e => console.log("*******Connected*******");
                conn.onclose = e => console.log("Disconnected");
                this.conn = conn;
            }
        });
    </script>
{% endblock %}