{% extends "admin/layout/layout.twig" %}

{% block title %}Мои дома{% endblock %}

{%block page_title%}Мои дома{%endblock%}

{%block icons%}

{%endblock%}


{% block content %}
<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col col-md-4">
                <h3>{{ house.title }}</h3>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Дата обращения</th>
                    <th>Вид обращения</th>
                    <th>Результат в баллах</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> 30-06-2019 </td>
                    <td> Протекает стояк с горячей или холодной водой </td>
                    <td class="red"> -2 </td>
                </tr>
                <tr>
                    <td> 29-06-2019 </td>
                    <td> Протекает стояк с горячей или холодной водой </td>
                    <td class="red"> -2 </td>
                </tr>
                <tr>
                    <td> 28-06-2019 </td>
                    <td> Засорился мусоропровод </td>
                    <td class="red"> -2 </td>
                </tr>
                <tr>
                    <td> 27-06-2019 </td>
                    <td> Неисправен лифт </td>
                    <td class="red"> -2 </td>
                </tr>
                <tr>
                    <td> 27-06-2019 </td>
                    <td> Грязь в подъезде </td>
                    <td class="red"> -1 </td>
                </tr>
                <tr>
                    <td> 26-06-2019 </td>
                    <td> Повреждено электрооборудование в квартире (автомат, розетка и др) </td>
                    <td class="red"> -1 </td>
                </tr>
                <tr>
                    <td> 25-06-2019 </td>
                    <td> Чувствуется запах газа </td>
                    <td class="red"> -2 </td>
                </tr>




                </tbody>
            </table>
        </div>



    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}