{% extends "admin/layout/layout.twig" %}

{% block title %}Мои дома{% endblock %}

{%block page_title%}Мои дома{%endblock%}

{%block icons%}

{%endblock%}


{% block paginate %}
    {% if houses.last_page > 1 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination align-self-center pagination-separated pagination-rounded justify-content-center">
                {% for item in 1..houses.last_page %}
                    {% if item %}
                        <li class="page-item {% if (item == users.current_page) %} active {% endif %}"> <a class="page-link" href="{{ path_for('user.showAdminUserList') }}?page={{ item }}">{{ item }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Адрес</th>
                    <th>Рейтинг</th>
                    <th>Активных обращений</th>
                </tr>
                </thead>
                <tbody>
                {% for house in houses.data %}
                    <tr>
                        <td>
                            <a href="/admin/my/houses/{{ house.id }}">{{ house.title}}</a>
                        </td>
                        <td>
                            <a href="/admin/my/houses/{{ house.id }}">{{ house.balance}}</a>
                        </td>
                        <td>
                            <span> 9</span>
                        </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}