{% extends "admin/layout/layout.twig" %}

{% block title %}Мои дома{% endblock %}

{%block page_title%}Мои дома{%endblock%}

{%block icons%}

{%endblock%}


{% block content %}
<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col col-md-4">
                <h3>Качество услуг на карте</h3>
            </div>
        </div>

        <div id="map" style="width: 100%; height: 400px"></div>

        <div class="row">
            <div class="col col-md-4">
                <h3>Итого: 996 баллов</h3>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block script %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=77204b77-9f06-4bd1-ac9d-5fae6fc8ec91&lang=ru_RU"></script>

    <script type="text/javascript">
        // Функция ymaps.ready() будет вызвана, когда
        // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
        ymaps.ready(init);
        function init(){
            // Создание карты.
            var myMap = new ymaps.Map("map", {
                // Координаты центра карты.
                // Порядок по умолчанию: «широта, долгота».
                // Чтобы не определять координаты центра карты вручную,
                // воспользуйтесь инструментом Определение координат.%2C
                center: [56.019600, 92.825593],
                // Уровень масштабирования. Допустимые значения:
                // от 0 (весь мир) до 19. %2C
                zoom: 17
            });
            myMap.geoObjects.add(new ymaps.Placemark([56.020054, 92.827332], {
                    balloonContent: 'Улица Куйбышева, 85 <strong>баллов 860</strong>'
                }, {
                    preset: 'islands#circleIcon',
                    iconColor: '#3caa3c'
                })
            )
                .add(new ymaps.Placemark([56.018902, 92.822580], {
                        balloonContent: 'Улица Красномосковская, 32 <strong>баллов 850</strong>'
                    }, {
                        preset: 'islands#circleIcon',
                        iconColor: '#3caa3c'
                    })
                )
                .add(new ymaps.Placemark([56.018819, 92.824028], {
                        balloonContent: 'Улица Яковлева, 1А <strong>баллов 880</strong>'
                    }, {
                        preset: 'islands#circleIcon',
                        iconColor: '#3caa3c'
                    })
                )
                .add(new ymaps.Placemark([56.019587, 92.824862], {
                        balloonContent: 'Улица Яковлева, 1 <strong>баллов 580</strong>'
                    }, {
                        preset: 'islands#circleIcon',
                        iconColor: '#e61400'
                    })
                )
                .add(new ymaps.Placemark([56.019412, 92.823591], {
                        balloonContent: 'Улица Тимирязева, 4 <strong>баллов 690</strong>'
                    }, {
                        preset: 'islands#circleIcon',
                        iconColor: '#fff903'
                    })
                )
                .add(new ymaps.Placemark([56.019629, 92.822752], {
                        balloonContent: 'Улица Тимирязева, 2 <strong>баллов 720</strong>'
                    }, {
                        preset: 'islands#circleIcon',
                        iconColor: '#fff903'
                    })
                )
                .add(new ymaps.Placemark([56.020230, 92.823992], {
                        balloonContent: 'Улица Тимирязева, 6 <strong>баллов 390</strong>'
                    }, {
                        preset: 'islands#circleIcon',
                        iconColor: '#e61400'
                    })
                )
            ;
        }

//%2C
    </script>
{% endblock %}