{% extends "admin/layout/layout.twig" %}

{% block title %}Список пользователей{% endblock %}

{% block page_title %}Пользователи{% endblock %}

{% block icons %}
    <a href="{{ path_for('user.showAdminUserAdd') }}"
       class="btn btn-link btn-float text-default">
        <i class="icon-user-plus text-primary" style="font-size: 1.4rem"></i>
        <span>Добавить</span>
    </a>
    <a href="{{ path_for('role.showAdminRoleList') }}" class="btn btn-link btn-float text-default">
        <i class="icon-gear text-primary" style="font-size: 1.4rem"></i>
        <span>Роли</span>
    </a>
{% endblock %}

{% block content %}
    <style>
        td a:hover, td a:visited, td a:link, td a:active {
            width: 100%;
            color: inherit;
            text-decoration: none;
            display: block;
        }
    </style>
<div class="card">
    <div class="card-body">

    </div>
</div>

{% endblock %}

{% block script %}



{% endblock %}