{% extends "admin/layout/layout.twig" %}

{% block title %}Роли{% endblock %}

{% block page_title %}Роли{% endblock %}

{% block icons %}

{% endblock %}

{% block content %}
    <style type="text/css">
        ul li {
            list-style: none;
        }

        ul {
            padding-left: 20px;
            padding-bottom: 7px;
        }

        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently
                                             supported by Chrome and Opera */
        }
    </style>

    <div class="row">
        <div class="col-md-3">
             <div class="card">
                <div class="card-body">
                    <table class="table table-striped table-role">
                        <thead>
                        <th style="padding-bottom: 3px;">Роль
                            <button id="add-role" class="btn btn-success btn-sm" style="float: right; margin-top: -7px;"> +
                                добавить
                            </button>
                        </th>
                        </thead>
                        <tbody>
                        {% for role in roles %}
                            <tr data-role-id="{{ role.id }}" class="role-row">
                                <td><a class="role-href">{{ role.name }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-8">
             <div class="card">
                <div class="card-body">
                <form id="form-role" action="/api/roles/create" method="post">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="role_name">Название</label>
                            <input id="role_name" type="text" class="form-control" name="name" placeholder="Название роли"
                                   required>
                        </div>

                        <div class="col-md-3">
                            <label for="slug">Псевдоним (англ.)</label>
                            <input id="slug" type="text" class="form-control" name="slug" placeholder="Псевдоним роли"
                                   required>
                        </div>

                        <div class="col-md-3 mt-3">
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>

                        <input type="hidden" name="id">
                    </div>

                    <div class="row">
                        <h3 class="col-12">Права доступа</h3>
                        <div class="col-md-4">
                            <ul class="permission">

                                <li>Пользователи</li>
                                <li>
                                    <ul>
                                        <li>
                                            <input type="hidden" name="user_view" value="false">
                                            <input id="user_view" type="checkbox" name="user_view" value="true">
                                            <label class="noselect" for="user_view">Просмотр</label>
                                        </li>
                                        <li>
                                            <input type="hidden" name="user_create" value="false">
                                            <input id="user_create" type="checkbox" name="user_create" value="true">
                                            <label class="noselect" for="user_create">Создание</label>
                                        </li>
                                        <li>
                                            <input type="hidden" name="user_update" value="false">
                                            <input id="user_update" type="checkbox" name="user_update" value="true">
                                            <label class="noselect" for="user_update">Обновление</label>
                                        </li>
                                        <li>
                                            <input type="hidden" name="user_delete" value="false">
                                            <input id="user_delete" type="checkbox" name="user_delete" value="true">
                                            <label class="noselect" for="user_delete">Удаление</label>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>

                        <div class="col-md-4">
                            <ul class="permission">

                                <li>Права</li>
                                <li>
                                    <ul>
                                        <li>
                                            <input type="hidden" name="roles_view" value="false">
                                            <input id="roles_view" type="checkbox" name="roles_view" value="true">
                                            <label class="noselect" for="roles_view">Просмотр/Изменение</label>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>

                        <div class="col-md-4">
                            <ul class="permission">

                                <li>Навигация</li>
                                <li>
                                    <ul>
                                        <li>
                                            <input type="hidden" name="navigation_view" value="false">
                                            <input id="navigation_view" type="checkbox"
                                                   name="navigation_view"
                                                   value="true">
                                            <label class="noselect" for="navigation_view">Просмотр</label>
                                        </li>
                                        <li>
                                            <input type="hidden" name="navigation_create" value="false">
                                            <input id="navigation_create" type="checkbox"
                                                   name="navigation_create"
                                                   value="true">
                                            <label class="noselect" for="navigation_create">Создание</label>
                                        </li>
                                        <li>
                                            <input type="hidden" name="navigation_update" value="false">
                                            <input id="navigation_update" type="checkbox"
                                                   name="navigation_update"
                                                   value="true">
                                            <label class="noselect"
                                                   for="navigation_update">Обновление</label>
                                        </li>
                                        <li>
                                            <input type="hidden" name="navigation_delete" value="false">
                                            <input id="navigation_delete" type="checkbox"
                                                   name="navigation_delete"
                                                   value="true">
                                            <label class="noselect" for="navigation_delete">Удаление</label>
                                        </li>
                                    </ul>
                                </li>

                                <li>Модули</li>
                                <li>
                                    <ul>
                                        <li>
                                            <input type="hidden" name="modules_view" value="false">
                                            <input id="modules_view" type="checkbox" name="modules_view" value="true">
                                            <label class="noselect" for="modules_view">Просмотр</label>
                                        </li>
                                        <li>
                                            <input type="hidden" name="modules_create" value="false">
                                            <input id="modules_create" type="checkbox" name="modules_create" value="true">
                                            <label class="noselect" for="modules_create">Создание</label>
                                        </li>
                                        <li>
                                            <input type="hidden" name="modules_update" value="false">
                                            <input id="modules_update" type="checkbox" name="modules_update" value="true">
                                            <label class="noselect" for="modules_update">Обновление</label>
                                        </li>
                                        <li>
                                            <input type="hidden" name="modules_delete" value="false">
                                            <input id="modules_delete" type="checkbox" name="modules_delete" value="true">
                                            <label class="noselect" for="modules_delete">Удаление</label>
                                        </li>
                                    </ul>
                                </li>

                                <li>Адреса</li>
                                <li>
                                    <ul>
                                        <li>
                                            <input type="hidden" name="adresses_view" value="false">
                                            <input id="adresses_view" type="checkbox" name="adresses_view" value="true">
                                            <label class="noselect" for="adresses_view">Просмотр</label>
                                        </li>
                                        <li>
                                            <input type="hidden" name="adresses_create" value="false">
                                            <input id="adresses_create" type="checkbox" name="adresses_create" value="true">
                                            <label class="noselect" for="adresses_create">Создание</label>
                                        </li>
                                        <li>
                                            <input type="hidden" name="adresses_update" value="false">
                                            <input id="adresses_update" type="checkbox" name="adresses_update" value="true">
                                            <label class="noselect" for="adresses_update">Обновление</label>
                                        </li>
                                        <li>
                                            <input type="hidden" name="adresses_delete" value="false">
                                            <input id="adresses_delete" type="checkbox" name="adresses_delete" value="true">
                                            <label class="noselect" for="adresses_delete">Удаление</label>
                                        </li>
                                        <li>
                                            <input type="hidden" name="house_my" value="false">
                                            <input id="house_my" type="checkbox" name="house_my" value="true">
                                            <label class="noselect" for="house_my">Просмотр моих адресов</label>
                                        </li>
                                    </ul>
                                </li>
                                
<li>City</li>
<li>
    <ul>
        <li>
            <input type="hidden" name="citys_view" value="false">
            <input id="citys_view" type="checkbox" name="citys_view" value="true">
            <label class="noselect" for="citys_view">Просмотр</label>
        </li>
        <li>
            <input type="hidden" name="citys_create" value="false">
            <input id="citys_create" type="checkbox" name="citys_create" value="true">
            <label class="noselect" for="citys_create">Создание</label>
        </li>
        <li>
            <input type="hidden" name="citys_update" value="false">
            <input id="citys_update" type="checkbox" name="citys_update" value="true">
            <label class="noselect" for="citys_update">Обновление</label>
        </li>
        <li>
            <input type="hidden" name="citys_delete" value="false">
            <input id="citys_delete" type="checkbox" name="citys_delete" value="true">
            <label class="noselect" for="citys_delete">Удаление</label>
        </li>
    </ul>
</li>{#POINTER#}

                            </ul>
                        </div>
                    </div>

                </form>
                </div>
             </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).on('click', '.role-href', function () {
            var id = $(this).closest('tr.role-row').data('role-id');
            $.ajax({
                url: '/api/roles/get_role',
                type: 'POST',
                data: {id: id},
                success: function (resp) {
                    var role = JSON.parse(resp);
                    var permissions = JSON.parse(role.permissions);

                    $('#form-role').find('button[type="submit"]').html('Сохранить');
                    $('input[name="name"]').val(role.name);
                    $('input[name="slug"]').val(role.slug);
                    $('input[name="id"]').val(role.id);

                    if (permissions) {
                        $.each($('.permission input[type="checkbox"]'), function () {
                            var name = $(this).attr('name');

                            if (typeof permissions[name] != undefined && permissions[name]) {
                                $(this).prop('checked', true);
                            } else {
                                $(this).prop('checked', false);
                            }
                        });
                    } else {
                        $('.permission input[type="checkbox"]').prop('checked', false);
                    }
                },
                error: function (resp) {
                    console.log(resp.responseText);
                }
            })
        });

        $(function () {
            $('#add-role').click(function () {
                $('#form-role')[0].reset();
                $('#form-role').find('button[type="submit"]').html('Добавить');
                $('#form-role').find('input[name="id"]').val(null);
            });
        });
    </script>
    {#<script src="/public/assets/admin/admin.js"></script>#}
{% endblock %}