{% extends "admin/layout/layout.twig" %}

{% block title %}//--//--//{% endblock %}

{%block page_title%}//--//--//{%endblock%}

{%block icons%}
<a href="{{ path_for('city.showAdminCityList') }}" class="btn btn-link btn-float text-default">
    <i class="icon-file-plus text-primary" style="font-size: 1.4rem"></i>
    <span>все //--//--//</span>
</a>
{%endblock%}

{% block content %}

    <form method="post"
          {% if city.id %}
            action="{{ path_for('city.updateCity', {'id': city.id}) }}"
          {% else %}
            action="{{ path_for('city.createCity') }}"
          {% endif %}
    >
        <div class="row">

            <div class="col-md-12">

                <div class="card">

                    <div class="card-body">
<div class="form-group row">
<label class="col-form-label col-lg-3" for="name-input">Name</label>
<div class="col-lg-9">
<input id="name-input" type="text" class="form-control" name="city[name]" value="{{ city.name }}">
</div>
</div>


                    </div>

                </div>

            </div>

        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-4">
                <button class="btn btn-outline-primary" type="submit">
                    Сохранить <i class="icon-attachment ml-2"></i>
                </button>
            </div>

            <div class="col-md-4">
                {% if city.id %}
                <button id="delete-some" class="btn btn-outline-danger" type="button">
                    Удалить //--//--// <i class="icon-bin2 ml-2"></i>
                </button>
                {% endif %}
            </div>
        </div>

    </form>

    <form id="frm-del" action="{{ path_for('city.deleteCity', {'id': city.id}) }}" method="get">
    </form>
{% endblock %}

{% block script %}

<script type="text/javascript">
    $(function() {
        $('#delete-some').click(function() {
            if (confirm('Удалить?')) {
                $('#frm-del').submit();
            }
        });
    });
</script>
{% endblock %}