{% extends "admin/layout/layout.twig" %}

{% block title %}//--//--//{% endblock %}

{%block page_title%}//--//--//{%endblock%}

{%block icons%}
<a href="{{ path_for('city.showAdminCityAdd') }}" class="btn btn-link btn-float text-default">
    <i class="icon-file-plus text-primary" style="font-size: 1.4rem"></i>
    <span>создать //--//--//</span>
</a>
{%endblock%}


{% block content %}
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
			<th>id</th>
			<th>name</th>
                </tr>
                </thead>
                <tbody>
                {% for city in citys %}
                <tr>
			<td>
				<a href="{{ path_for('city.showAdminCityEdit', {'id':city.id}) }}">{{ city.id}}</a>
			</td>
			<td>
				<a href="{{ path_for('city.showAdminCityEdit', {'id':city.id}) }}">{{ city.name}}</a>
			</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}