{% extends 'public/layout.twig' %}


{% block link %}

{% endblock %}


{% block content %}
    <form action="{{ path_for('client.chooseAddress') }}" method="post" id="form"></form>
    <div style="display: flex; flex-direction: column; justify-content: space-between; width: 100%; height: 100%">

        <div class="head_line">
            
        </div>

        <div id="vm" style="display: flex;justify-content: center;flex-direction: row;width:100%">
            <div style="display: flex; justify-content: center; flex-direction: column;width:90%">
                <input form="form" type="text" v-model="query" class="input_underlined" name="address" placeholder="Введите адрес дома">
                <div>
                    <div v-for="address in addresses" @click="chooseAddress(address)">
                        ${address.title}
                    </div>
                </div>
                <input form="form" type="hidden" name="address_id" v-model="address_id">
                <input form="form" type="text" class="input_underlined" name="apartment" placeholder="Введите номер квартиры">
                <button type="submit" form="form" style="margin-top: 1.5em" class="btn_rounded">Сохранить</button>
            </div>
        </div>

        <div style="display: flex; justify-content: center; flex-direction: row;">
            <img style="width: 60%; max-width: 60%; margin-bottom: 2em" src="/assets/public/img/logo_grey.png" alt="">
        </div>

    </div>
{% endblock %}


{% block script %}
    <script>
        var vm = new Vue({
            el: '#vm',
            delimiters: ['${', '}'],
            data:{
                addresses:[],
                query: undefined,
                timer:false,
                address_id: undefined,
                choosen: false
            },
            methods: {
                getAddresses(){
                    fetch('{{ path_for('client.getSameAddresses') }}',{
                        method: 'post',
                        mode: "cors",
                        cache: "no-cache",
                        credentials: "same-origin",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        redirect: "follow",
                        referrer: "no-referrer",
                        body: JSON.stringify({
                            'query': this.query
                        })
                    }).then(resp=>resp.json()).then(resp=>{
                        this.addresses = resp;
                    });
                },
                chooseAddress(address){
                    this.address_id = address.id;
                    this.query = address.title;
                    addresses = [];
                    this.choosen = true;
                }
            },
            watch:{
                query(){
                    if (this.timer){
                        clearTimeout(this.timer);
                        this.timer = false;
                    }

                    if (this.choosen){
                        this.choosen = false;
                        this.addresses = [];
                    } else{
                        if (this.query.length > 0){
                            this.timer = setTimeout(this.getAddresses, 500)
                        } else {
                            this.addresses = [];
                        }
                    }
                }
            }
        });
    </script>
{% endblock %}