{% extends 'public/layout.twig' %}

{% block link %}
    <link rel="stylesheet" href="/assets/public/css/selector.css">
{% endblock %}

{% block content %}
    <style>
        .form-payment {
            position: absolute;
            left: 100%;
            width: 100%;
            padding: 120px 0 0 0;

        }

    </style>




    <div class="container" style="
background-image:url('/assets/public/img/main_bg.jpg');
  background-size: cover;
   background-position: 20% 0%;
   height: 100%;
display: flex;flex-direction: column;justify-content: space-between;">

        <div class="row">
            <div class="col col-12">
                <div class="text-muted" style="margin-top:3.1em; font-size: 1.2em;">КАРТОЧКА КВАРТИРЫ</div>
            </div>

            <div class="col col-12">
                <div style="display: flex;flex-direction: column;">
                    <div class="general_address" style="display: flex;justify-content: space-between;flex-direction: row;"><span>{{ user.address.title }}</span>
                        <a href="{{ path_for('chat.showChatList') }}"><img src="/assets/public/img/6.png" style="width: 2.2em; filter: zigzag(2)"></a></div>
                    <button class="btn_apartment">Квартира</button>
                </div>
            </div>



        </div>
        <div class="rounded_square">
            <div style="display: flex;flex-direction: row;justify-content: center; margin-bottom: 1em">
                <div class="troble_report">СООБЩИТЬ О ПРОБЛЕМЕ</div>
            </div>
            <div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center;">
                <div style="width: 100%; display: flex; justify-content: center; flex-direction: row">
                    <div class="outer-circle">
                        <div class="plant"></div>
                        <div class="plant angle1"></div>
                        <div class="plant angle2"></div>
                        <img class="circle_icon" src="/assets/public/img/2.png" alt="">
                        <img class="circle_icon go circle_icon1" src="/assets/public/img/3.png">
                        <img class="circle_icon go circle_icon2" src="/assets/public/img/4.png">
                        <img class="circle_icon go circle_icon3" src="/assets/public/img/10.png">
                        <img class="circle_icon go circle_icon4" src="/assets/public/img/9.png">
                        <img class="circle_icon go circle_icon5" src="/assets/public/img/11.png">
                        <div class="middle">
                            <div class="circle">
                                <div class="middle">
                                    <div id="inner_circle" class="inner-circle">SOS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-payment">

            <div class="container">
                <form class="row" action="/api/trouble" method="post" enctype='multipart/form-data'>
                    <div class="col col-12">
                        <div class="form-group">
                            <select name="trouble[service_id]" class="custom-select">
                                <option value="1">Протекает стояк с горячей или холодной водой</option>
                                <option value="2">Прорвало стояк с горячей или холодной водой</option>
                                <option value="3">Другая услуга</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <textarea rows="4" name="trouble[comment]" class="form-control"
                                      placeholder="Оставьте свой комментарий"></textarea>
                        </div>

                        <div class="custom-file">
                            <input type="file" name="photo" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Выбрать фото для отправки</label>
                        </div>

                        <div class="form-group" style="margin-top: 1rem;">
                            <button class="button-pink" type="submit"> Отправить</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>

        <div style="display: flex; justify-content: center; flex-direction: row;">
            <img style="width: 60%; max-width: 60%; margin-bottom: 2em" src="/assets/public/img/logo_grey.png" alt="">
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('.go').click(function () {
                document.querySelector('.form-payment').scrollIntoView({behavior: 'smooth'});
                console.log('das');
            });
        });
    </script>
{% endblock %}