{% extends 'public/layout.twig' %}

{% block link %}
    <link rel="stylesheet" href="/assets/public/css/login.css">
{% endblock %}
{% block content %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="/assets/public/gosuslugi_logo.svg" alt="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="text-black-50">Вход</h4>
                    <p class="text-black-50">через портал Госуслуг</p>
                    <div style="display: flex; flex-direction: row; justify-content: space-around">
                        <div id="phone_method" class="active_login_method">Телефон или e-mail</div>
                        <div id="snils_method" class="unactive_login_method">СНИЛС</div>
                    </div>
                    <input id="phone_snils" class="login_input" type="text" placeholder="Номер телефона или email">
                    <input class="login_input" type="password" placeholder="Пароль">
                </div>
                <div style="display: flex; justify-content: center; flex-direction: row; width: 100%">
                    <button type="button" class="btn btn-primary enter_btn">Войти</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var phone_method = true;
        var phone_method_btn = document.getElementById('phone_method');
        var snils_method_btn = document.getElementById('snils_method');
        var phone_snils = document.getElementById('phone_snils');
        phone_method_btn.addEventListener('click', () => {
            if (!phone_method) {
                snils_method_btn.classList.add('unactive_login_method');
                snils_method_btn.classList.remove('active_login_method');
                phone_method_btn.classList.add('active_login_method');

                phone_snils.setAttribute('placeholder', 'Номер телефона или email')

                phone_method_btn.classList.remove('unactive_login_method');
                phone_method = true;
            }
        });

        snils_method_btn.addEventListener('click', () => {
            if (phone_method) {
                phone_method_btn.classList.remove('active_login_method');
                phone_method_btn.classList.add('unactive_login_method');

                snils_method_btn.classList.remove('unactive_login_method');
                snils_method_btn.classList.add('active_login_method');

                phone_snils.setAttribute('placeholder', 'СНИЛС')
                phone_method = false;
            }
        })

    </script>
{% endblock %}