{% extends 'public/layout.twig' %}

{% block link %}
    <link rel="stylesheet" href="/assets/public/css/selector.css">
{% endblock %}

{% block content %}
    <style>
        .services_list {
            min-height: 60px;
            box-shadow: 2px 4px 13px 1px #aaaaaa;
            background-color: #ffffff;
            margin: 16px 0;
            border-radius: 30px;
        }
        .services_list .title {
            color: #f67676;
            font-family: Geometria;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            line-height: 60px;
            display: inline-block;
            margin: 0 0 0 8px;
        }

        .services_list .pic {
            margin: 0 0 0 8px;
            background-color: #000000;
            background-image: linear-gradient(-225deg, #f77f75 0%, #f0357e 100%);
            width: 46px;
            height: 46px;
            border-radius: 23px;
            display: inline-block;
            line-height: 60px;
            vertical-align: middle;
        }

        .form-payment {
            position: absolute;
            left: 100%;
            width: 100%;
            padding: 120px 0 0 0;
        }

        .trouble {
            min-height: 60px;
            margin: 16px 0;
            position: relative;
            color: #000000;
            font-family: Geometria;
            font-size: 18px;
        }
        .trouble:before {
            content: ' ';
            width: 100%;
            height: 2px;
            background: rgb(247,127,117);
            background: linear-gradient(142deg, rgba(247,127,117,1) 0%, rgba(239,48,126,1) 84%);
            position: absolute;
            top: -10px;
            left: 0;
        }

        .trouble:after {
            content: ' ';
            width: 100%;
            height: 2px;
            background: rgb(247,127,117);
            background: linear-gradient(142deg, rgba(247,127,117,1) 0%, rgba(239,48,126,1) 84%);
            position: absolute;
            bottom: -10px;
            left: 0;
        }
    </style>




    <div class="container" id="mpage" style="
   min-height: 100%;
display: flex;flex-direction: column;justify-content: space-between;">

        <div class="row">
            <div class="col col-12">
                <div class="text-muted" style="margin-top:3.1em; font-size: 1.2em;">КАРТОЧКА КВАРТИРЫ</div>
            </div>

            <div class="col col-12">
                <div style="display: flex;flex-direction: column;">
                    <div class="general_address">{{ user.address.title }}</div>
                    <button class="btn_apartment">Квартира</button>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col col-12">
                <div class="services_list">
                    <a href="/payment" class="abs100"> </a>
                    <div class="pic"></div>
                    <div class="title">Оплата услуг ЖКХ</div>
                </div>
            </div>

            <div class="col col-12">
                <div class="services_list">
                    <a href="/troubles" class="abs100"> </a>
                    <div class="pic"></div>
                    <div class="title">Обращения</div>
                </div>
            </div>

            <div class="col col-12">
                <div class="services_list">
                    <a href="/notifications" class="abs100"> </a>
                    <div class="pic"></div>
                    <div class="title">Уведомления</div>
                </div>
            </div>

            <div class="col col-12">
                <div class="services_list">
                    <a class="abs100 gotojkh"> </a>
                    <div class="pic"></div>
                    <div class="title">Информация о ЖКХ</div>
                </div>
            </div>



        </div>




        <div style="display: flex; justify-content: center; flex-direction: row;">
            <img style="width: 60%; max-width: 60%; margin-bottom: 2em" src="/assets/public/img/logo_grey.png" alt="">
        </div>
    </div>



    <div class="form-payment">

        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="trouble">
                        <div>
                            <p>ООО «Управляющая компания
                                «свободный проспект»</p>

                            <p>тел.: +7 (391) 200 00 01<br>
                            WWW.Svobprosp.ru<br>
                                e-mail: sprospect@uk.ru</p>

                            <p>инн 24600000000 огрн 000000000
                                лицензия № сп 20192019</p>
                        </div>
                    </div>

                </div>

                <div class="button-pink" style="margin-top: 60px;"><a class="abs100" href="/kvartira"> </a> Вернуться </div>

            </div>
        </div>

    </div>


{% endblock %}

{% block script %}
    <script>
        $( document ).ready(function() {
            $('.gotojkh').click(function () {
                document.querySelector('.form-payment').scrollIntoView({behavior:'smooth'});
            });

            $('.button-pink').click(function () {
                document.querySelector('#mpage').scrollIntoView({behavior:'smooth'});
            });
        });
    </script>


{% endblock %}