<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">

    <title>ХОЗЯИН</title>


    <!-- Bootstrap core CSS -->
    <link href="/assets/public/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <link href="/assets/public/lib/remodal/remodal.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/assets/public/lib/remodal/remodal-default-theme.css" rel="stylesheet" crossorigin="anonymous">


    {% block link %}
    {% endblock %}

    <!-- Custom styles for this template -->
    <link href="/assets/public/css/layout.css" rel="stylesheet">
</head>
<body>

<div class="preloader" id="preloader">
    <div style=" display: flex; justify-content: center; flex-direction: row">
        <img class="preloader_logo" src="/assets/public/logo.png" alt="">
    </div>
</div>

{% block content %}

{% endblock %}

</div>
<!--Jquery JS-->
<script src="/assets/admin/libs/jQuery/jquery-3.3.1.js?v={{ app_version }}"></script>

<!--Popper JS-->
<script src="/assets/admin/libs/popper/popper.js?v={{ app_version }}"></script>

<!--Vue JS-->
<script src="/assets/admin/libs/vue/vue.js?v={{ app_version }}"></script>

<!-- Bootstrap Bundle JS -->
<script src="/assets/admin/libs/bootstrap/js/bootstrap.bundle.js?v={{ app_version }}"></script>


<script src="/assets/public/lib/remodal/remodal.js"></script>

<script>
    var first_entry = false;

    if (first_entry){
        var preloader = document.getElementById('preloader');
        preloader.style.display = 'flex';
        setTimeout(()=>{
            preloader.style.display = 'none';
        }, 1200)
    }

</script>

{% block script %}
{% endblock %}
</body>
</html>
