{% extends 'public/layout.twig' %}

{% block link %}
    <link rel="stylesheet" href="/assets/public/css/login.css">
{% endblock %}
{% block content %}
    <style>
        .form-payment {
            width: 100%;
            padding: 120px 0 0 0;
        }

    </style>



    <div class="form-payment">

        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <form method="post" autocomplete="off" name="login_form" action="/api/login">
                        <div class="form-group">
                            <input type="text" name="login" class="form-control" placeholder="Введите свой логин">
                        </div>

                        <div class="form-group">
                            <input type="text" name="password" class="form-control" placeholder="Введите свой пароль">
                        </div>

                        <div class="form-group">
                            <button class="button-pink" type="submit"> Войти </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>




    <form class="remodal np" data-remodal-id="modal">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>

        <img class="img-fluid" src="/assets/public/img/card.png">
        
    </form>
    </div>



{% endblock %}

{% block script %}
    <script>
        $( document ).ready(function() {
            $('.element').click(function () {
                // $(document).animate({scrollLeft: $('.form-payment').position().left}, 500);
                // $('body').scrollLeft(400);
                document.querySelector('.form-payment').scrollIntoView({behavior:'smooth'});
                console.log('das');
            });
        });
    </script>


{% endblock %}