{% extends "public/layout.twig" %}

{% block link %}
  
{% endblock %}

{% block content %}
    <div style="display: flex; flex-direction: column; justify-content: center; width: 100%; height: 100%">

        {% if not session.user.id %}

        <div style="display: flex; flex-direction: row; justify-content: center">
            <img class="preloader_logo" src="/assets/public/logo.png">
        </div>

        <div style="display: flex; flex-direction: row; justify-content: center; margin-top:3em">
            <!-- Button trigger modal -->
            <button type="button" class="pink_button" data-toggle="modal" data-target="#exampleModalCenter">
                ВОЙТИ ЧЕРЕЗ ГОСУСЛУГИ
            </button>

        </div>


            <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 3em; font-family: Arkhip;">
                <a style="color: #ff2c81;" href="/company/login"> Вход для представителей УК </a>
            </div>




            <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <form action="{{ path_for('user.doLogin') }}" method="post">
            <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content">
                    <div class="modal-header">
                        <img src="/assets/public/gosuslugi_logo.svg" alt="">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="display: flex!important; flex-direction: column!important; justify-content: center">
                        <h4 class="text-black-50 text-center">Вход</h4>
                        <p class="text-black-50 text-center">через портал Госуслуг</p>
                        <div style="display: flex; flex-direction: row; justify-content: space-around">
                            <div id="phone_method" class="active_login_method">Телефон или e-mail</div>
                            <div id="snils_method" class="unactive_login_method">СНИЛС</div>
                        </div>
                        <input id="phone_snils" class="login_input" name="login" type="text" value="user1@example.com" placeholder="Номер телефона или email">
                        <input class="login_input" type="password" name="password" placeholder="Пароль" value="user1">
                    </div>
                    <div style="display: flex; justify-content: center; flex-direction: row; width: 100%">
                        <button type="submit" class="btn btn-primary enter_btn">Войти</button>
                    </div>
                </div>
            </div>
            </form>

        </div>
    {% endif %}
    </div>


{% endblock %}

{% block script %}
    {% if not session.user.id %}
    <script>
        var phone_method = true;
        var phone_method_btn = document.getElementById('phone_method');
        var snils_method_btn = document.getElementById('snils_method');
        var phone_snils = document.getElementById('phone_snils');
        phone_method_btn.addEventListener('click', () => {
            if (!phone_method) {
                snils_method_btn.classList.add('unactive_login_method');
                snils_method_btn.classList.remove('active_login_method');
                phone_method_btn.classList.add('active_login_method');

                phone_snils.setAttribute('placeholder', 'Номер телефона или email')

                phone_method_btn.classList.remove('unactive_login_method');
                phone_method = true;
            }
        });

        snils_method_btn.addEventListener('click', () => {
            if (phone_method) {
                phone_method_btn.classList.remove('active_login_method');
                phone_method_btn.classList.add('unactive_login_method');

                snils_method_btn.classList.remove('unactive_login_method');
                snils_method_btn.classList.add('active_login_method');

                phone_snils.setAttribute('placeholder', 'СНИЛС')
                phone_method = false;
            }
        })

    </script>
    {% endif %}
{% endblock %}