{% extends 'public/layout.twig' %}

{% block link %}
    <link rel="stylesheet" href="/assets/public/css/login.css">
{% endblock %}
{% block content %}
    <style>
        .pic-circle {
            margin: 0 0 0 8px;
            background-color: #000000;
            background-image: linear-gradient(-225deg, #f77f75 0%, #f0357e 100%);
            width: 46px;
            height: 46px;
            border-radius: 23px;
            display: inline-block;
            line-height: 60px;
            vertical-align: middle;
        }

        .element .title {
            color: #f67676;
            font-family: Geometria;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            line-height: 60px;
            display: inline-block;
            margin: 0 0 0 8px;
        }

        .element {
            transition: all 0.3s ease-out 0s;
            min-height: 60px;
            box-shadow: 2px 4px 13px 1px #aaaaaa;
            background-color: #ffffff;
            margin: 16px 0;
            border-radius: 30px;

        }
        .element::before {

            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;


        }
        .element:active {
            background: red;
            content: " ";

        }

        .form-payment {
            position: absolute;
            left: 100%;
            width: 100%;
            padding: 120px 0 0 0;
        }

    </style>



    <div class="list-payment">
        <div class="container">
            <div class="row">
                <div class="col col-12 element">
                    <div class="row d-flex align-items-center">
                        <div class="abs100" data-service-id="1"> </div>
                        <div class="pic-circle"></div>
                        <div class="title">Квартплата</div>
                    </div>
                </div>

                <div class="col col-12 element">
                    <div class="row d-flex align-items-center">
                        <div class="abs100" data-service-id="2"> </div>
                        <div class="pic-circle"></div>
                        <div class="title">Электроенергия</div>
                    </div>
                </div>

                <div class="col col-12 element">
                    <div class="row d-flex align-items-center">
                        <div class="abs100" data-service-id="3"> </div>
                        <div class="pic-circle"></div>
                        <div class="title">Водоснабжение</div>
                    </div>
                </div>

                <div class="col col-12 element">
                    <div class="row d-flex align-items-center">
                        <div class="abs100" data-service-id="4"> </div>
                        <div class="pic-circle"></div>
                        <div class="title align-middle">Теплоснабжение</div>
                    </div>
                </div>

                <div class="col col-12">
                    <div class="button-pink" style="margin-top: 60px;"><a class="abs100" href="/kvartira"> </a> Вернуться </div>
                </div>


            </div>
        </div>
    </div>


    <div class="form-payment">

        <div class="container">
            <div class="row">
                <div class="col col-12">

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Введите свой номер лицевого счета">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Введите свой номер лицевого счета">
                    </div>

                    <div class="form-group">
                        <input name="service_id" type="hidden" class="form-control">
                    </div>

                    <div class="form-group">
                        <div class="button-pink" data-remodal-target="modal"> Оплатить </div>
                    </div>

                </div>

                <div class="button-pink" style="margin-top: 60px;"><a class="abs100" href="/kvartira"> </a> Вернуться </div>

            </div>
        </div>

    </div>




    <form class="remodal np" data-remodal-id="modal">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>

        <img class="img-fluid" src="/assets/public/img/card.png">
        
    </form>
    </div>



{% endblock %}

{% block script %}
    <script>
        $( document ).ready(function() {
            $('.element').click(function () {
                // $(document).animate({scrollLeft: $('.form-payment').position().left}, 500);
                // $('body').scrollLeft(400);
                document.querySelector('.form-payment').scrollIntoView({behavior:'smooth'});
                console.log('das');
            });
        });
    </script>


{% endblock %}