{% extends 'public/layout.twig' %}

{% block link %}
    <link rel="stylesheet" href="/assets/public/css/selector.css">
{% endblock %}

{% block content %}
    <div style="width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: center;">
        <div style="width: 100%; display: flex; justify-content: center; flex-direction: row">
            <div class="outer-circle">
                <div class="plant"></div>
                <div class="plant angle1"></div>
                <div class="plant angle2"></div>
                <img class="circle_icon" src="/assets/public/tap.png" alt="">
                <img class="circle_icon circle_icon1" src="/assets/public/img/heating-radiator.png">
                <img class="circle_icon circle_icon2" src="/assets/public/img/light.svg">
                <img class="circle_icon circle_icon3" src="/assets/public/img/rrr.png">
                <img class="circle_icon circle_icon4" src="/assets/public/img/trash.png">
                <img class="circle_icon circle_icon5" src="/assets/public/img/60473.png">
                <div class="middle">
                    <div class="circle">
                        <div class="middle">
                            <button id="inner_circle" class="inner-circle"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var inner_circle = document.getElementById('inner_circle'),
            sectors_hidden = true,
            plants = document.querySelectorAll('.plant'),
            icons = document.querySelectorAll('.circle_icon'),
            middle_circle = document.querySelector('.circle'),
            outer_circle = document.querySelector('.outer-circle');
        inner_circle.addEventListener('click', toggleSectors);

        function toggleSectors() {
            if (sectors_hidden){
                Object.keys(plants).forEach((p)=>{
                    plants[p].style.backgroundColor = '#fff';
                });
                Object.keys(icons).forEach((i)=>{
                    icons[i].style.display = 'flex';
                });
                middle_circle.style.backgroundColor = '#fff';
                outer_circle.style.backgroundColor = 'rgba(0,0,0,.3)'
            } else{
                Object.keys(plants).forEach((p)=>{
                    plants[p].style.backgroundColor = 'rgba(0,0,0,0)';
                });
                Object.keys(icons).forEach((i)=>{
                    icons[i].style.display = 'none';
                });
                middle_circle.style.backgroundColor = 'rgba(0,0,0,0)';
                outer_circle.style.backgroundColor = 'rgba(0,0,0,0)'
            }
            sectors_hidden =!sectors_hidden;
        }
    </script>
{% endblock %}