{% extends 'public/layout.twig' %}

{% block link %}
    <link rel="stylesheet" href="/assets/public/css/selector.css">
{% endblock %}

{% block content %}
    <style>
        .form-payment {
            width: 100%;
            padding: 120px 0 0 0;

        }

    </style>




<div class="container" style="
background-image:url('/assets/public/img/main_bg.jpg');
  background-size: cover;
   background-position: 20% 0%;
display: flex;flex-direction: column;justify-content: space-between;">

    <div class="form-payment">

        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2>Обращение успешно создано </h2>
                </div>
                <div class="col col-12">
                    <a href="/main" class="button-pink"> Вернуться назад </a>
                </div>
            </div>
        </div>

    </div>

    <div style="display: flex; justify-content: center; flex-direction: row;">
        <img style="width: 60%; max-width: 60%; margin-bottom: 2em" src="/assets/public/img/logo_grey.png" alt="">
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        $( document ).ready(function() {
            $('.go').click(function () {
                document.querySelector('.form-payment').scrollIntoView({behavior:'smooth'});
                console.log('das');
            });
        });
    </script>
{% endblock %}