{% extends 'public/layout.twig' %}

{% block content %}
    <style>
        .trouble {
            min-height: 60px;
            margin: 16px 0;
            position: relative;
            color: #000000;
            font-family: Geometria;
            font-size: 18px;
        }
        .trouble:before {
            content: ' ';
            width: 100%;
            height: 2px;
            background: rgb(247,127,117);
            background: linear-gradient(142deg, rgba(247,127,117,1) 0%, rgba(239,48,126,1) 84%);
            position: absolute;
            top: -10px;
            left: 0;
        }

        .trouble:after {
            content: ' ';
            width: 100%;
            height: 2px;
            background: rgb(247,127,117);
            background: linear-gradient(142deg, rgba(247,127,117,1) 0%, rgba(239,48,126,1) 84%);
            position: absolute;
            bottom: -10px;
            left: 0;
        }


        .services_list .title {
            color: #f67676;
            font-family: Geometria;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            line-height: 60px;
            display: inline-block;
            margin: 0 0 0 8px;
        }

        .services_list .pic {
            margin: 0 0 0 8px;
            background-color: #000000;
            background-image: linear-gradient(-225deg, #f77f75 0%, #f0357e 100%);
            width: 46px;
            height: 46px;
            border-radius: 23px;
            display: inline-block;
            line-height: 60px;
            vertical-align: middle;
        }

    </style>




    <div class="container" style="min-height: 100%;">

        <div class="row">

            {% for trouble in troubles %}
            <div class="col col-12">
                <div class="trouble">
                    <a href="/troubles/{{ trouble.id }}" class="abs100"> </a>
                    <div class="date">{{ trouble.created_at }}</div>
                    <div class="desc">{{ user.address.title }}</div>
                </div>
            </div>
            {% endfor %}

            <div class="button-pink" style="margin-top: 60px;"><a class="abs100" href="/kvartira"></a> Вернуться </div>


        </div>




        <div style="display: flex; justify-content: center; flex-direction: row;">
            <img style="width: 60%; max-width: 60%; margin-bottom: 2em" src="/assets/public/img/logo_grey.png" alt="">
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}